.progress {
	background-color: #ffb144;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	border-radius: 10px;  
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

.field_with_errors {
	display: inline;
}

.error_messages {
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	font-size: 12px;
}

.error_messages h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

.error_messages p {
	margin: 8px 10px;
}

.alexbtn {
	margin: 20px;
	font-size: 16px!important;
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.alexbtn:disabled{cursor:not-allowed;opacity:0.3}
.alexbtn:hover{color:#000!important;background-color:#ccc!important}
.alex-amber,.alex-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.alex-aqua,.alex-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.alex-blue,.alex-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.alex-light-blue,.alex-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.alex-brown,.alex-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.alex-cyan,.alex-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.alex-blue-grey,.alex-hover-blue-grey:hover,.alex-blue-gray,.alex-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.alex-green,.alex-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.alex-light-green,.alex-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.alex-indigo,.alex-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.alex-khaki,.alex-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.alex-lime,.alex-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.alex-orange,.alex-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.alex-deep-orange,.alex-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.alex-pink,.alex-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.alex-purple,.alex-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.alex-deep-purple,.alex-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.alex-red,.alex-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.alex-sand,.alex-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.alex-teal,.alex-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.alex-yellow,.alex-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.alex-white,.alex-hover-white:hover{color:#000!important;background-color:#fff!important}
.alex-black,.alex-hover-black:hover{color:#fff!important;background-color:#000!important}
.alex-grey,.alex-hover-grey:hover,.alex-gray,.alex-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.alex-light-grey,.alex-hover-light-grey:hover,.alex-light-gray,.alex-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.alex-dark-grey,.alex-hover-dark-grey:hover,.alex-dark-gray,.alex-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.alex-pale-red,.alex-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.alex-pale-green,.alex-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.alex-pale-yellow,.alex-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.alex-pale-blue,.alex-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}

body {
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px 40px;
	font-family: Verdana, Helvetica, Arial;
	font-size: 14px;
	overflow-x: hidden;
}
a img {
	border: none;
}
a {
	color: #0000FF;
	text-decoration: none;
}
a:hover{
	color: #75a0ff;
}

#app {
	width: 100%;
	margin: auto;
	background-color: #f4f4f4;
	position: relative;
}
#flash_notice, #flash_error, #flash_alert {
	padding: 5px 8px;
	margin: 10px 0;
	margin-right: 150px;
}
#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}
#flash_error, #flash_alert {
	background-color: #FCC;
	border: solid 1px #C66;
}

form .field, form .actions {
	margin: 12px 0;
}
h4 {
	margin-top: 0px;
	margin-bottom: 18px;
}
h3{
	margin-top: 0;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	text-align: left;
	padding: 8px;
	border: 1px solid #ddd;
}


tr:nth-child(even){background-color: #f2f2f2}
th {
	border: 1px solid white;
	background-color: #9c27b0;
	color: white;
}
p{
	line-height: 1.6;
	text-align: justify
}