<template>
	<div id="app">
		<h1>Movie API</h1>
		<div>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Poster</th>
						<th>Title</th>
						<th>Popularity</th>
						<th>Rating</th>
						<th>Release Date</th>
						<th>Action</th>
					</tr>
				</thead>
				<GetFilms v-for="(item, index) in films"  :key="index" :item="item"></GetFilms>
			</table>
		</div> 
	</div>
</template>

<script>
	import axios from 'axios'
	import GetFilms from '../components/GetFilms'
	export default {
		name: 'dashboard',
		components: {    
			GetFilms
		},
		computed:{
			films () {
				return this.$store.state.dashboard.data.films 
			}
		},
		mounted: function () {
			console.log(this.$store.dispatch('dashboard/getFilms'))
			this.$store.dispatch('dashboard/getFilms')
		}
	}
</script>

