<template>
	<div id="app">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-grid-only@1.0.0/bootstrap.css" rel="stylesheet" />
		<GetFilmsDetail></GetFilmsDetail>
	</div>
</template>

<script>
	import GetFilmsDetail from '../components/GetFilmsDetail'
	export default {
		name: 'DetailFilm',
		components: {    
			GetFilmsDetail
		},
		data: function () {
			return {
				films:[] 
			}
		}, 
	}
</script>
<style>
.back{
	text-decoration: none!important;
}
</style>