<template>
	<div class="row">
		<div>
			<h1>{{ films.title }}, {{ films.release_date }}</h1>
			<div class="col-md-3">
				<img :src="'https://image.tmdb.org/t/p/w500' + films.poster_path" width="250px">
				<router-link class="alexbtn alex-purple" to="/">Kembali</router-link>
			</div>
			<div class="col-md-4">
				<img :src="'https://image.tmdb.org/t/p/w500' + films.backdrop_path">
				<p>Rate : <b>{{ films.vote_average }}/10</b> from <b>{{ films.vote_count }} users</b><span style="float: right;"><b>Popularitas : {{ films.popularity }}</b></span></p>
				<p>{{ films.overview }}</p>
				<p><b>Budget : ${{ films.budget.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  }} <span style="float: right;">Worth : ${{ films.revenue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</span></b></p>
				<p>Produksi : {{ films.production_companies[0].name }}</p>
			</div>
			<div class="col-md-3">
				
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'
	export default {
		name: 'GetFilmsDetail',
		props: {
			film: String,
		},
		computed:{
			films () {
				return this.$store.state.detail.data.films 
			}
		},
		
		mounted: function () {
			const id = this.$route.params.id
			this.$store.dispatch('detail/getFilms', id)
		}

	}
</script>